manifest {
    author = "Jimmy Liu"
    version = "1.1"
    name = "tCANS"
    mainScript = "main.nf"
    nextflowVersion = ">=21.0.0"
    manifest.defaultBranch = "main"
    homePage = 'https://github.com/jimmyliu1326/tCANS'
    description = 'Consensus calling for tiling amplicon nanopore sequencing'
}

params {
    // I/O
    input = null
    reference = null
    out_dir = null
    primers = null

    // base options
    help = null
    version = null

    // slurm options
    account = null

    // dehosting options
    host = null    

    // gpu options
    gpu = null
    medaka_batchsize = 100

    // read QC options
    min_rl = 200
    max_rl = 0
    min_rq = 7
    notrim = null

    // consensus calling options
    max_depth = 1000
    min_depth = 10
    max_N = 0.75

    // blast options
    run_blast = false
    blast_evalue = 0.01

    // msa options
    run_msa = false
}

process {
    withLabel:process_low {
        cpus = { 4 }
        memory = { 8.GB }
        time = { 2.h }
    }
    withLabel:process_medium {
        cpus = { 16 }
        memory = { 16.GB }
        time = { 4.h }
    }
    withLabel:process_high {
        cpus = { 32 }
        memory = { 32.GB }
        time = { 8.h }
    }
}

profiles {

    standard {
        includeConfig 'conf/docker.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }
    
    test {
        includeConfig 'conf/test.config'
    }

}

// Trace pipeline execution metrics
timeline {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file    = "${params.out_dir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}