process {
    withName:nanoq {
        conda = 'nanoq'
    }
    withName:nanofilt {
        conda = 'nanofilt'
    }
    withName:porechop {
        conda = 'porechop'
    }
    withName:minimap2 {
        conda = 'minimap2'
    }
    withName:bam2fq {
        conda = 'minimap2'
    }
    withName:dehost {
        conda = 'samtools>=1.14'
    }
    withName:ivar_consensus {
        conda = 'ivar=1.3.1'
    }
    withName:ivar_trim {
        conda = 'ivar=1.3.1'
    }
    withName:clipbam {
        conda = "ngsutils"
    }
    withName:ampliconclip {
        conda = "samtools>=1.14"
    }
    withName:medaka {
        conda = "${baseDir}/conda/medaka.yml"
    }
}