process {
    withName:nanoq {
        conda = 'nanoq'
    }
    withName:nanofilt {
        conda = 'nanofilt'
    }
    withName:minimap2 {
        conda = 'minimap2'
    }
    withName:bam2fq {
        conda = 'minimap2'
    }
    withName:ivar_consensus {
        conda = 'ivar'
    }
    withName:ivar_trim {
        conda = 'ivar'
    }
    withName:clipbam {
        conda = 'ngsutils'
    }
    withName:medaka {
        conda = "${baseDir}/conda/medaka.yml"
    }
}