process {
    withName:medaka {
        container = 'staphb/medaka'
    }
    withName:nanoq {
        container = 'jimmyliu1326/nanoq'
    }
    withName:nanofilt {
        container = 'mcfonsecalab/nanofilt'
    }
    withName:ivar_consensus {
        container = 'andersenlabapps/ivar'
    }
    withName:ivar_trim {
        container = 'andersenlabapps/ivar'
    }
    withName:minimap2 {
        container = 'nanozoo/minimap2'
    }
    withName:bam2fq {
        container = 'nanozoo/minimap2'
    }
    withName:clipbam {
        container = 'jimmyliu1326/ngsutils'
    }
    withName:ampliconclip {
        container = 'staphb/samtools'
    }
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}