process {
    withName:medaka_gpu {
        container = 'ontresearch/medaka:v1.6.0'
        containerOptions = '--gpus 0'
    }
    withName:medaka {
        container = 'nanozoo/medaka:1.6.0--9469527'
    }
    withName:nanoq {
        container = 'jimmyliu1326/nanoq'
    }
    withName:porechop {
        container = 'replikation/porechop'
    }
    withName:nanofilt {
        container = 'mcfonsecalab/nanofilt'
    }
    withName:ivar_consensus {
        container = 'andersenlabapps/ivar'
    }
    withName:ivar_trim {
        container = 'andersenlabapps/ivar'
    }
    withName:minimap2 {
        container = 'nanozoo/minimap2'
    }
    withName:bam2fq {
        container = 'nanozoo/minimap2'
    }
    withName:dehost {
        container = 'staphb/samtools'
    }
    withName:clipbam {
        container = 'jimmyliu1326/ngsutils'
    }
    withName:ampliconclip {
        container = 'staphb/samtools'
    }
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}