process {
  withName: 'ampliconclip' {
    cpus = 4
    memory = 1.GB
  }
  withName: 'bam2fq' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'bedgraph_init' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'bedgraph_rq_filt' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'bedgraph_trim' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'combine' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'igv_report_init' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'igv_report_rq_filt' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'igv_report_trim' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'ivar_consensus' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'medaka' {
    cpus = 5
    memory = 1.GB
  }
  withName: 'medaka_gpu' {
    cpus = 5
    memory = 3.GB
  }
  withName: 'minimap2_init' {
    cpus = 5
    memory = 1.GB
  }
  withName: 'minimap2_rq_filt' {
    cpus = 6
    memory = 1.GB
  }
  withName: 'nanoq' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'samtools_index' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'seqkit_fx2tab' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'msa_vis' {
    cpus = 8
    memory = 8.GB
  }
  withName: 'mafft' {
    cpus = 4
    memory = 1.GB
  }
}