process {
  withName: 'ampliconclip' {
    cpus = 4
    memory = { 2.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 5
  }
  withName: 'bam2fq' {
    cpus = 3
    memory = 1.GB
  }
  withName: 'bedgraph_init' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'bedgraph_rq_filt' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'bedgraph_trim' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'combine' {
    cpus = 1
    memory = { 2.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 5
  }
  withName: 'igv_report_init' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'igv_report_rq_filt' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'igv_report_trim' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'ivar_consensus' {
    cpus = 2
    memory = { 1.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 5
  }
  withName: 'medaka' {
    cpus = 6
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'medaka_gpu' {
    cpus = 6
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'minimap2_init' {
    cpus = 8
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'minimap2_rq_filt' {
    cpus = 8
    memory = { 16.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'nanoq' {
    cpus = 2
    memory = { 2.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 5
  }
  withName: 'samtools_index' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'seqkit_fx2tab' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'msa_vis' {
    cpus = 4
    memory = { 8.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
  }
  withName: 'mafft' {
    cpus = 4
    memory = { 1.GB * task.attempt }
    errorStrategy = { (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 5
  }
}