process {
    withName:medaka_gpu {
        container = 'docker://ontresearch/medaka:v1.6.0'
        containerOptions = '--gpus 0'
    }
    withName:medaka {
        container = 'docker://nanozoo/medaka:1.6.0--9469527'
    }
    withName:nanoq {
        container = 'docker://jimmyliu1326/nanoq:latest'
    }
    withName:porechop {
        container = 'docker://replikation/porechop'
    }
    withName:ivar_consensus {
        container = 'docker://staphb/ivar:1.3.2'
    }
    withName:ivar_trim {
        container = 'docker://staphb/ivar:1.3.2'
    }
    withName:minimap2 {
        container = 'docker://nanozoo/minimap2:2.24--82ff7f3'
    }
    withName:bam2fq {
        container = 'docker://staphb/samtools:1.15'
    }
    withName:dehost {
        container = 'docker://staphb/samtools:1.15'
    }
    withName:ampliconclip {
        container = 'docker://staphb/samtools:1.15'
    }
    withName:bedgraph {
        container = 'docker://staphb/bedtools:2.30.0'
    }
    withName:samtools_index {
        container = 'docker://staphb/samtools:1.15'
    }
    withName:igv_report {
        container = 'docker://quay.io/biocontainers/igv-reports:1.7.0--pyh7cba7a3_0'
    }
    withName:seqkit_fx2tab {
        container = 'docker://staphb/seqkit:2.3.1'
    }
    withName:porechop_abi {
        container = 'docker://jimmyliu1326/porechop_abi:0.5.0'
    }
    withName:webblast_blastn {
        container = 'docker://jimmyliu1326/webblast:latest'
    }
    withName:blast_blastn {
        container = 'docker://staphb/blast:2.13.0'
    }
    withName:blast_formatter {
        container = 'docker://staphb/blast:2.13.0'
    }
    withName:mafft {
        container = 'docker://staphb/mafft:7.505'
    }
    withName:msa_vis {
        container = 'docker://jimmyliu1326/msa-vis:latest'
    }
}

singularity {
    enabled = true
    autoMounts = true
}